<html>
    <head>
        <title><%= htmlWebpackPlugin.options.title %></title>
        <base href="<%= htmlWebpackPlugin.options.base %>">
    </head>
    <body>
        <!--Container for React rendering-->
        <div id="root"></div>

    </body>
</html>
